<div id="product-info-background" class="loading-screen" style="display: none">
    <div class="product-info-wrapper" id="slide-it">
        <div class="product-form" id="product-new-form">
            <h2>Adauga un distribuitor</h2>
            <form action="#" method="post">
                <input id="firstname" type="text" name="field1" placeholder="Denumire Distribuitor"/>
                <input id="compName" type="text" name="field1" placeholder="Denumire Companie"/>
                <input id="latitude" type="text" name="field1" placeholder="Locatie latitudine"/>
                <input id="longitude" type="text" name="field1" placeholder="Locatie longitudine"/>
                <input id="email" type="text" name="field1" placeholder="Email logare"/>
                <input id="passw" type="text" name="field1" placeholder="Parola logare"/>
                <div class="wrapper-submit">
                    <button class="submit-btn" type="submit" id="adauga-produs">Adauga</button>
                </div>
            </form>
        </div>
    </div>
</div>