
    <div class="produse">
        <div class="actions">
            <button class="submit-btn" id="product-add">+ Adauga</button>
        </div>
        <% if ( distribuitori.length === 0) { %>
            <h2>Nu exista momentan distribuitori</h2>
        <% } else { %>
            <div class="table-wrapper">
                <div class="table">
                    <div class="table-head">
                        <table>
                            <thead>
                            <tr>
                                <th class="column-uno">Nume companie</th>
                                <th class="column-uno">Email</th>
                                <th class="column-dos">Nume agent</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body">
                        <table>
                            <tbody>
                            <% distribuitori && distribuitori.forEach(client => { %>
                                <tr>
                                    <td class="column-uno"><%= client.specifics.companyName %></td>
                                    <td class="column-uno"><%= client.email %></td>
                                    <td class="column-dos"><%= client.firstname %></td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% } %>
        <% include ad-distribuitor-info %>
    </div>
