<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Administrator - ElecTrik</title>

<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
<link rel='stylesheet' href='/stylesheets/admin/style.css'/>
<link rel='stylesheet' href='/stylesheets/resethtml.css'/>
<link rel='stylesheet' href='/stylesheets/buttons.css'/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>