<div class="rapoarte-section">
    <div class="chart">
        <canvas id="ChartPie" width="800" height="450"></canvas>
    </div>
    <div class="chart">
        <canvas id="BarChart" width="800" height="450"></canvas>
    </div>
</div>