<!DOCTYPE html>
<html lang="ro">
<head>
    <% include head %>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/furnizori.css'/>
    <link rel='stylesheet' href='/stylesheets/buttons.css'/>
</head>
<body>
<% include header %>
<main>
    <div class="furnizori-wrapper">
        <div class="section">
            <div class="furnizori-title">
                <h1>Furnizorii nostri</h1>
            </div>
            <div class="content">
                <div class="furnizori">
                    <ul class="menus" id="menus">
                        <li class="menu active">
                            <a href="#">Sediu ElecTrik</a>
                        </li>
                    </ul>
                </div>
                <div class="map" id="map">
                </div>
            </div>
        </div>

    </div>
</main>
<% include footer %>
<script type="text/javascript" src="/javascripts/furnizori.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf3CQ7E075HqIx6eza_8U5KSemHkWvb48&callback=initMap">
</script>
</body>
</html>
