main {
  padding: 80px 20px 100px 20px;
  background-color: #e9ebee;
  min-height: 80%;
}

.furnizori-wrapper {
  margin: 50px 15% 100px 15%;

  .section {
    position: relative;
    overflow: hidden;
    background-color: white;
    min-height: 500px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    box-shadow: 15px 10px 5px 0 rgba(0,0,0,0.12);

    .furnizori-title {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);

      h1 {
        color: #0F4C81;
      }
    }

    .content {
      display: flex;
      flex-direction: row;

      .furnizori {
        border-right: 1px solid #e0e7e8;
        /* bottom: 0; */
        overflow: auto;
        position: absolute;
        top: 93px;
        width: 330px;
        height: 90%;

        .menus {
          list-style: none;
          margin: 0;
          padding: 0;

          .menu {
            border-top: 1px solid #e0e7e8;
            width: auto;

          }

          .active {
            color: #0F4C81;
            background-color: #f5f6f7;
            border-right: 5px solid #0F4C81;
          }

          li {
            color: #424950;
            line-height: 20px;
            outline: 0;
            padding: 15px 25px 15px 0;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100%;

            a{
              display: block;
              color: #424950;
              line-height: 20px;
              outline: 0;
              padding: 0 25px 0 45px;
              position: relative;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              width: 80%;
            }
          }

        }
      }

      #map {
        height: 700px;
        width: 820px;
        left: 330px;
      }
    }
  }

}